  
# https://www.lfd.uci.edu/~gohlke/pythonlibs
https://download.lfd.uci.edu/pythonlibs/y2rycu7g/Fiona-1.8.20-cp39-cp39-win_amd64.whl; sys.platform == 'win32'
https://download.lfd.uci.edu/pythonlibs/y2rycu7g/GDAL-3.3.2-cp39-cp39-win_amd64.whl; sys.platform == 'win32'
https://download.lfd.uci.edu/pythonlibs/y2rycu7g/rasterio-1.2.9-cp39-cp39-win_amd64.whl; sys.platform == 'win32'
https://download.lfd.uci.edu/pythonlibs/y2rycu7g/future-0.18.2-py3-none-any.whl; sys.platform == 'win32'

GDAL; sys.platform == 'linux'
Fiona; sys.platform == 'linux'
rasterio; sys.platform == 'linux'
future; sys.platform == 'linux'

pandas
numpy
plotly
jupyter
h3
shapely
geopandas
networkx
matplotlib
seaborn
osmnx
folium
tqdm
scikit-learn
pynndescent
umap-learn
hdbscan
contextily
keplergl
ipympl
click
unidecode
pandas-profiling
pyfunctional
black
pylint
selenium
snakeviz
line_profiler
pyarrow
BeautifulSoup
json5

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cu111
torchvision==0.10.1+cu111 
torchaudio==0.9.1
pytorch-lightning
lightning-bolts
wandb

-f https://data.pyg.org/whl/torch-1.9.1+cu111.html
torch-scatter
torch-sparse 
torch-cluster 
torch-spline-conv
torch-geometric