GDAL
Fiona
rasterio
future
pandas
numpy
plotly
jupyter
h3
shapely
geopandas
networkx
matplotlib
seaborn
osmnx
folium
tqdm
scikit-learn
contextily
keplergl

click
unidecode

selenium
snakeviz
pyarrow
json5

swifter
kaleido
xgboost


torch
torchvision
torchaudio
pytorch-lightning